.recipes {
  color: #ffffff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  background-position: center;
}

.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style-type: none;
  margin: auto;
  padding: 0;
  gap: 40px;
}

.recipes__iframe {
  width: 560px;
  height: 315px;
  border-style: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}
